@font-face {
    font-family: 'Muli';
    src: url('Fonts/Muli-Italic.ttf');
    font-weight: bold;
    font-style: bold;
}
/*{
    border: white;
    border-width: 1px;
    border-style: solid;
}*/
header{
top: -1px;
left: -20px;
right: auto;
position: fixed;
    align-items: center;
    display: flex;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);

}
body{
    background-color: #011016;
}


.enlaces-header{

display: flex;
justify-content: center;
margin-left: auto;

}
.background{
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.inicio{
    margin-left: 200px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.sobre-mi{

}


.stellarium{
width: 50%;
top: 70px;
bottom: 100px;
}

.stellarium2{
    top: 245px;
    left: 140px;
    width: 474px;
    height: 193px

}

.fondo{
margin-top: -40px;
    width: 2000px;
    margin-left: -60px;
    margin-right: -100px;
    margin-top: -80px;
    float: left;

}

.contenedor {
  position: relative;
  width: 800px; /* Ancho del contenedor */
  height: 600px; /* Altura del contenedor */
}

.stellarium{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ancho completo del contenedor */
  height: 100%; /* Altura completa del contenedor */
}



.barra-imagen{

width: 12%;
margin-left: 100px;
margin-right: 10px;

}

.Foto3{

    width: 30%;
    margin-top: 18px;
    margin-left: 10px;

}

nav{
    float: right;
}
.enlaces-header ul{
    list-style: none;
}

.enlaces-header ul li{
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-right: 40px;
   padding-right: 5px;


}

.enlaces-header ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.enlaces-header ul li :hover{
    color: rgb(255, 213, 0);
}

.paginas{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inicio-texto{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Muli';
    font-weight: lighter;
    font-size: large;
}
.linia{
    background-color: white;
    width:50px;
    height: 2px;
    align-self: center;
    margin-right: 10px;
}

.boton-amarillo{
    background-color: #ffd000;
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;

}
.boton-amarillo div p{
    padding-left: 17px;
    text-decoration: underline;
    color:#011016;
    font-family: 'Muli';
    font-weight: bolder;
    font-size: medium;
}

.entrar{
    width: 25%;
    background-color: #d4ad00;
}


